<br><br><br><br><br><br>
<header class="header">
    <img id="onion" src="images/onion.png">
    <h1 id="title">
        <strong>the</strong> ONION...SCRAPER</h1>
    <img id="scraper" src="images/scraper.png">
</header>


<form method="POST" action="/scrape">
<div class="scrapeBtn">
    <button type="submit" class="btn btn-dark btn-block btn-lg" id="scrapeBtn" data-toggle="modal" data-target="#scrapeModal">SCRAPE!</button>
</div>
</form>


<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Scraping Onions...</h1>
                <img src="images/onion.gif">
            </div>
        </div>
    </div>
</div>

